.global-drag-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  width: 100%;
  height: 100%;
  cursor: move;
  cursor: -webkit-grabbing;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-h-auto {
  width: 0;
  flex: 1;
}

.flex-v-auto {
  height: 0;
  flex: 1;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}

li {
  list-style: none;
}

/* .icon-comp {
  fill: currentColor;
} */
